
.chart {
    padding: 4ch 5rem 0 5rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;

    height: calc(100vh - 300px);
}

.chart--title {
    margin-bottom: 1.75rem;
    color: #5500cc;
    font-weight: 600;
    line-height: 1.2;
}

.chart--text {
    margin-bottom: 1.75rem;
    font-size: 20px;
}

.chart--div {
    margin-left: auto;
    width: 100%;
    height: 100%;
}

.custom-tooltip {
    background-color: white;
    padding: 5px;
    border: 1px solid #eeeeee;
    color: black;
    padding: 15px 10px 15px 10px;
}

.recharts-pie-label-text {
    fill: black;
}

.recharts-legend-item-text {
    color: black !important;
}

.legend-item-4, .legend-item-5, .legend-item-6, .legend-item-7 {
    visibility: hidden;
    height: 0;
    width: 0;
}

@media (max-width: 1200px) {
    .chart {
        display: block;
        height: calc(100vh - 300px);
    }

    .chart--div {
        margin-left: 0;
    }
}