

.chart {
    padding: 4ch 5rem 0 5rem;
}

.chart--title {
    margin-bottom: 1.75rem;
    color: #5500cc;
    font-weight: 600;
    line-height: 1.2;
}

.chart--text {
    margin-bottom: 1.75rem;
    font-size: 20px;
}

.chart--div {
    width: 500px;
    height: 500px;
}

.custom-tooltip {
    background-color: white;
    padding: 5px;
    border: 1px solid #eeeeee;
    color: black;
    padding: 15px 10px 15px 10px;
}