.home {
    width: calc(100% - 10rem);
    padding: 4ch 5rem 0 5rem;
}

.home--title {
    color: #5500cc;

    font-weight: 600;
    line-height: 1.2;
}

.home--text {
    font-size: 1.25rem;
}

.home--button {
    color: #5500cc;
    text-decoration:none;
    font-size: 20px;
}

.home--button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}