.home {
    width: calc(100% - 10rem);
    padding: 4ch 5rem 0 5rem;
}

.home--title {
    color: #5500cc;

    font-weight: 600;
    line-height: 1.2;
}

.home--text {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    font-size: 1.25rem;
    line-height: 1.1;
}

.home--button {
    color: #5500cc;
    text-decoration:none;
    font-size: 20px;
}

.home--button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

@media screen and (orientation:portrait) {
    .home {
        background-color: #1D1D1D;
        height: calc(100vh - 116px);
        color: white;
    }
    .home--title {
        color: #7557D1;
    }

    .home--button {
        color: #7557D1;
    }
}  