.charts--links {
    text-align: center;
    margin-top: 1ch;
}

.charts--link {
    color: #5500cc;
    text-decoration:none;
    font-size: 20px;
    padding: 0 8px 0 8px;
}

.charts--link:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.link--active {
    text-decoration:underline;
}