* {
  font-family: 'Mandali', sans-serif;
  margin: 0;
  padding: 0;
}

.clickable {
  cursor: pointer;
}

.MainContent {
  height: calc(100vh - 120px);
}

@media (max-width: 600px) {
  body {
    background-color: #1D1D1D;
  }

  .MainContent {
    height: calc(100vh - 80px);
    color: white;
  }
} 